#logo {
  background-color: bisque;
  height: 10em;
}

#navbar {
  background-color: burlywood;
  display: flex;
  justify-content: stretch;
  height: 3em;
}

#navbar * {
  margin: auto;
}

#content {
  border: 5px solid grey;
  border-radius: 20px;
  margin: 1%;
}

#content * {
  margin: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 30%;
}
