/*

BASIC STUFF

*/

body {
  margin: 0;
  padding: 0;
}

#app {
  /* background-color: yellowgreen; */
  width: 100vw;
  height: 100vh;
}

#logo {
  /* background-color: yellow; */
  height: 250px;
}

/*

NAVBAR BUTTONS

*/

.navbar span,
#dishFilter button span {
  position: relative;
  z-index: 3;
}

.navbar a,
.navbar button,
#dishFilter button {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  text-decoration: none;
  border: 2px solid grey;
  padding: 10px 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  color: #696969;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}

#dishFilter button {
  background-color: grey;
  border: 2px solid white;
  color: white;
}

.navbar a::before,
.navbar button::before,
#dishFilter button::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  height: calc(100% - 10px);
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

#dishFilter button::before {
  background-color: grey;
}

.navbar a:hover::before,
.navbar button:hover::before,
#dishFilter button:hover::before {
  transform: scaleY(0);
}

.navbar a::after,
.navbar button::after,
#dishFilter button::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}

#dishFilter button::after {
  background-color: grey;
}

.navbar a:hover::after,
.navbar button:hover::after,
#dishFilter button:hover::after {
  transform: scaleX(0);
}

.navbar .icon {
  display: none;
}

/*

NAVBAR

*/

#logoImage {
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  height: 60px;
}

/*

LEFT SIDE OF NAVBAR

*/

.navbar .leftSide {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: darkkhaki; */
  flex: 50%;
}

.navbar .leftSide .links {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar .leftSide button {
  display: none;
}

.navbar #left a {
  display: flex;
}

/*

RIGHT SIDE OF NAVBAR

*/

.navbar .rightSide {
  flex: 50%;
}

.navbar .rightSide .links {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar .rightSide button {
  display: none;
}

.navbar #right a {
  display: flex;
}

.navbar .login {
  display: flex;
  justify-content: flex-end;
  padding-right: 4%;
  align-items: center;
  /* background-color: cornflowerblue; */
  flex: 50%;
}

.navbar .login button {
  display: none;
}

/*
#content {
  border: 5px solid grey;
  border-radius: 20px;
  margin: 1%;
}

#content * {
  align-items: center;
  justify-content: center;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 200px;
  width: 20%;
}
*/

/*

DISH FILTER

*/

#dishFilter {
  height: 60px;
  background: linear-gradient(to right, white, grey 5%, grey 95%, white);
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-top: 15px; */
}

/*

RESPONSIVE NAVBAR and DISH FILTER

*/

@media screen and (max-width: 850px) {
  .navbar,
  #dishFilter {
    height: 40px;
  }
  .navbar a,
  .navbar button,
  #dishFilter button {
    font-size: 10px;
    padding: 5px 10px;
  }
}

@media screen and (max-width: 600px) {
  /*LEFT SIDE*/

  .navbar .leftSide button {
    display: flex;
    margin-left: 20px;
  }

  .navbar .leftSide a {
    display: none;
  }

  .navbar .leftSide {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .navbar #left {
    display: flex;
    position: absolute;
    flex: 50%;
    left: 0px;
    top: 290px;
    height: 40px;
    width: 100%;
    background-color: white;
    z-index: 1;
  }

  /*RIGHT SIDE*/

  .navbar .rightSide button {
    display: flex;
    margin-right: 20px;
  }

  .navbar .rightSide a {
    display: none;
  }

  .navbar .rightSide {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .navbar #right {
    display: flex;
    position: absolute;
    flex: 50%;
    left: 0px;
    top: 290px;
    height: 40px;
    width: 100%;
    background-color: white;
    z-index: 1;
  }
}
